<!-- filepath: c:\PROJECT PITA\vsms\vsms\src\main\resources\templates\adminEditPic.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Profile Picture</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/withdrawRequest.css">
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" >
    <link rel="stylesheet" href="/css/try.css">
    <script src="/js/try.js"></script>
</head>
<body>
    <div th:replace="navbarA :: navbar(${userID})"></div>
    <div class="container-fluid">
        <div class="left-panel" style="background-color: #f3e3d3;"></div>
        <div class="center-panel">
            <h1>EDIT PROFILE PICTURE</h1>
            <form th:action="@{/uploadAdminPic}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="userID" th:value="${userID}">
                <div class="form-group">
                    <label for="userPic">Upload New Picture:</label>
                    <input type="file" class="form-control" id="userPic" name="userPic" required>
                </div>
                <div>
                    <button type="button" class="btn btn-secondary" th:onclick="'window.location.href=\'/adminProfile?userID=' + ${userID} + '\''">CANCEL</button>
                    <button type="submit" class="btn btn-primary">UPLOAD</button>
                </div>
            </form>
        </div>
        <div class="right-panel"></div>
    </div>
</body>
</html>