<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Select Approval Type</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/selectionType.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="/css/try.css">
    <script src="/js/try.js"></script>
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
</head>
<body id="body-pd">
    <div th:replace="navbarA :: navbar(${userID})"></div>

    <div class="height-100">
        <h1>SELECT APPROVAL TYPE</h1>
        <div class="user-type-buttons">
            <div class="outer-button">
                <form th:action="@{/vehicleApproval}" method="get">
                    <input type="hidden" name="userID" th:value="${userID}">
                    <button type="submit" class="btn btn-primary">VEHICLE APPROVAL</button>
                </form>
            </div>
            <div class="outer-button">
                <form th:action="@{/withdrawApproval}" method="get">
                    <input type="hidden" name="userID" th:value="${userID}">
                    <button type="submit" class="btn btn-primary">WITHDRAW APPROVAL</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>