<!-- filepath: /c:/PROJECT PITA/vsms/vsms/src/main/resources/templates/ownerType.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Select User Type</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/selectionType.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    
    <link rel="stylesheet" href="/css/try.css">
    <script src="/js/try.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
</head>
<body id="body-pd">
    <div th:include="navbarVO :: navbar(${userID})"></div>

    <div class="height-100">
        <h1>SELECT REGISTER TYPE</h1>
        <div class="user-type-buttons">
            <div class="outer-button">  
                <form action="#" th:action="@{/ownerRegister}" method="get">
                    <input type="hidden" name="ownerType" value="ownVehicle">
                    <input type="hidden" name="userID" th:value="${userID}">
                    <button type="submit" class="btn btn-primary">OWN VEHICLE</button>
                </form>
            </div>
            <div class="outer-button">
                <form action="#" th:action="@{/ownerRegister}" method="get">
                    <input type="hidden" name="ownerType" value="otherOwner">
                    <input type="hidden" name="userID" th:value="${userID}">
                    <button type="submit" class="btn btn-primary">OTHER OWNER'S VEHICLE</button>
                </form>
            </div>
        </div>
    </div>
    <script th:if="${error}" th:inline="javascript">
        Swal.fire({
            icon: "error",
            title: "Oops...",
            text: [[${error}]],
            footer: ''
        });
    </script>
</body>
</html>